body {
    font-family: Arial, sans-serif;
    background-image: url("Images/komodo-di-taman-nasional-pulau-komodo-_130118155917-868.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333;
}

h2{
    text-align: center;
    font-weight: bold;
    color: black;
}
.navbar {
    position: relative;
    top: 0;
    padding: 30px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}


main {
    padding-top: 50px;
    margin-bottom: 50px;
}

form {
    background-color: rgba(251, 241, 241, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.form-title {
    font-size: 2rem;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    position: relative;
}

form label {
    font-weight: bold;
}

form input, form select, form button {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #00796b;
    color: #fff;
    border: none;
}

form button:hover {
    background-color: #05c3a3;
}

/* Footer styles */
footer {
    background-color: #292f30;
    color: #c1c8c8 ;
    padding: 50px 0;
    margin-top: 100px; 
    text-align: center;
    z-index: 1;
}

footer h5 {
    color: #15a68e;
}

footer a {
    color: #15a68e;
}

footer a:hover {
    color: #004d40;
}


.footer-text {
    color: whitesmoke;
    font-size: 0.9rem;
    margin: 20px 0;
}

.footer-social a {
    margin: 0 10px;
    color: #15a68e;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #004d40;
}


.modal {
    display: none;
    position:fixed;  
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    background: rgba(0, 0, 0, 0.5); /* Background overlay */
    padding-top: 60px;
}

.modal-content {
    background: #ffffff;
    border-radius: 18px; /* Sesuaikan dengan header */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 0;
    width: 50%;
    position: relative;
    flex-direction: column;
    margin: auto;
}

.reservation-summary {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 30px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.header {
    background: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0; /* Menghilangkan margin */
    position: relative; /* Untuk memastikan tidak ada overlapping */
    top: 0;
    left: 0;
    right: 0;
}

.content {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}


.label {
    display: inline-block;
    width: 150px; /* Adjust this width as needed */
    /* font-weight: bold; */
    color: #333;
}

.content div span {
    display: inline-block;
    margin-right: 10px;
}


.content div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.footer-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.footer-buttons .yes {
    background-color: #1a1b1d;
    color: white;
}


.footer-buttons .no {
    background-color: #e94e77;
    color: white;
}
.footer-buttons .yes:hover {
    background-color: #3a7db8;
}

.footer-buttons .no:hover {
    background-color: #d43a5f;
}

